body {
    margin: 0;
    background: #abccdf;
    color: white; 
    direction: rtl; 
}
#header-canvas { 
    width: 100%; 
    height: 600px; 
} /* ارتفاع هدر */
.overlay { 
    position: absolute; 
    top: 170px; 
    width: 100%; 
    text-align: center; 
    color : #9b9b9b;
    pointer-events: none;
}
h1 { 
    font-size: 10vw; 
    text-shadow: 0.5vw 0.5vw #061a38, -0.5vw -0.5vw #061a38; 
    font-family: "Marhey", sans-serif;
}
.navbar{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    background-color: #060120;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar li{
    flex: 1;
    margin: 0.9vw 0.3vw;
    background-color: #152f55ce;
    border-radius: 1.5vw ;
}
.navbar li a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgb(210, 211, 206);
    font-size: 3vw;
    font-weight: bold;
    padding: 3VW 0;
    font-family: "El Messiri", sans-serif;
}
.navbar li a:hover{
    background-color: rgb(140, 221, 170);
    color: #060120;
    border-radius: 2vw ;
}
.navbar li a:active{
    background-color: rgb(140, 221, 170);
    color: #060120;
    border-radius: 2vw ;
}

.definition {
    color: black;
    overflow-wrap: anywhere;
    padding: 0.5vw 2vw;
    font-size: 4vw;
    font-family: "Rubik", sans-serif;
}
.distance{
    font-weight: bold;
    color: #184aa9;
}
.math-content {
  color: #0a2a51;
  background-color: rgba(175, 223, 206, 0.731);
  direction: rtl;
  font-family: Vazirmatn, Tahoma, sans-serif;
  line-height: 2.1;
  font-size: 4vw;
  margin: 4vw;
  border-radius: 10vw;
  padding: 5vw;
  box-shadow: 0 0 10px #232a50;
}

.math-content p {
  margin: 12px 0;
}

 .definition-title {
  font-family: Vazirmatn, Tahoma, sans-serif;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  color: #00253d;
  font-size: 5vw;
  padding-top: 6vw;
}
h3{
    text-align: center;
}