body {
    margin: 0;
    background: #e1fafb;
    color: white; 
    direction: rtl; 
}
#header-canvas { 
    width: 100%; 
    height: 600px; 
} /* ارتفاع هدر */
.overlay { 
    position: absolute; 
    top: 170px; 
    width: 100%; 
    text-align: center; 
    color : #9b9b9b;
    pointer-events: none;
}
h1 { 
    font-size: 10vw; 
    text-shadow: 3.75px 3.75px #061a38, -3.75px -3.75px #061a38; 
    font-family: "Marhey", sans-serif;
}
.navbar{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    background-color: #060120;
}
.navbar li{
    flex: 1;
    margin: 6.75px 2.25px;
    background-color: #061a38ce;
    border-radius: 11.25px ;
}
.navbar li a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgb(210, 211, 206);
    font-size: 22.5px;
    font-weight: bold;
    padding: 22.5px 0;
    font-family: "El Messiri", sans-serif;
}
.navbar li a:hover{
    background-color: rgb(140, 221, 170);
    color: #060120;
    border-radius: 15px ;
}

.definition {
    color: black;
    overflow-wrap: anywhere;
    padding:3.75px 15px;
    font-size: 30px;
    font-family: "Rubik", sans-serif;
}
.distance{
    font-weight: bold;
    color: #184aa9;
}
